Package: turingmachine.pro
Architecture: all
Depends: python3-pip, python3-venv, ${shlibs:Depends}, ${misc:Depends}
Description: Run any Turing machine possible using this app
 Long description goes here if needed.

# Add the post-installation script
postinst:
 debian/postinst
